/* import */
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=320&w=740);
    object-fit: cover;
}

h1{
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    animation: login 10s infinite;
}

@keyframes login{
    0%{
        color: black;
    }
    50%{
        color: rgb(68, 6, 119);
    }
    100%{
        color: black;
    }
}

p{
    color: red;
    font-weight: bold;
}

.box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.username{
    margin-bottom: 25px;
    overflow: hidden;
    text-align: center;
    border-bottom: 2px solid rgb(68, 6, 119);
}

.username input{
    border: none;
    outline: none;
    background: transparent;
}

.password{
    margin-bottom: 25px;
    overflow: hidden;
    text-align: center;
    border-bottom: 2px solid rgb(68, 6, 119);
}

.password input{
    border: none;
    outline: none;
    background: transparent;
}

i{
    padding-left: 10px;
    float: left;
    font-size: 20px;
}

button{
    margin-top: 30px;
    background: rgba(68, 6, 119, 0.78);
    border: none;
    font-size: 16px;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;

}



